.centered_box {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f7ff; /* Helles, freundliches Blau */
    padding: 1rem; /* Etwas Innenabstand für kleine Bildschirme */
    box-sizing: border-box;
}

.custom_paper {
    width: 100%;
    max-width: 800px; /* Maxbreite für große Bildschirme */
    margin-left: auto;
    margin-right: auto;
    padding: 0 150px; /* horizontale Innenabstände */
    border-radius: 8px; /* leicht abgerundet, moderner Look */
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* leichter Schatten für Tiefe */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .custom_paper {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 90vw; /* bessere Breite auf Smartphones */
        border-radius: 4px; /* etwas weniger abgerundet */
    }
}
